*{
  margin: 0;
  padding: 0;
}

:root{
  --col1: #676358;
}

body{
  background-color: rgb(138, 133, 121);
  color: white
}

.mainhead1{
  -webkit-text-stroke: 1px var(--col1);
  color: transparent;
  font-size: 10rem;
  font-weight: 900;
  text-align: center;
}